.blogs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.blogs__container h3 {
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
}

.blogs__list {
  z-index: 5;
}

.blogs__item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
  margin-bottom: 0.2rem;
  box-shadow: 0px 10px 30px 8px rgba(0, 0, 0, 0.1);
}

.blogs__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.blogs__item-content {
  flex: 1;
  margin: 1rem;
}

.blogs__item-image img {
  width: 95%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.blogs__item-image img:hover {
  transform: scale(1.1);
}

.blogs__item-content h6 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  color: #888;
}

.blogs__item-content a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.blogs__item-content h4 {
  font-size: 23px;
  font-weight: 800;
  margin: 1rem 0;
}

.blogs__item-content span {
  border-bottom: 2px solid #535353;
  font-size: 16px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
  .blogs__item {
    height: 400px;
  }

  .blogs__item-image {
    height: 55%;
  }

  .blogs__item-content h6 {
    font-size: 12px;
  }
  
  .blogs__item-content h4 {
    font-size: 20px;
  }

  .blogs__item-content span {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .blogs__item {
    height: 55vh;
  }

  .blogs__item-image {
    height: 60%;
  }
}