.clients__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  text-align: center;
}

.clients__container h3 {
  margin-top: 10rem;
  padding-top: 5rem;
  background-color: #f7f7f7;
}

.clients__feedback {
  z-index: -1;
  background-color: #f7f7f7;
  padding-bottom: 3rem;
}

.clients__feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients__feedback-item h6 {
  margin: 0.3rem 0;
  margin-top: 1.5rem;
  font-size: 16px;
  font-weight: 600;
}

.clients__feedback-item span {
  font-size: 13px;
  font-weight: bold;
  color: #888;
}

.clients__feedback-item p {
  padding: 0 2rem;
  word-spacing: 2px;
}

.clients__avata img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  z-index: -1;
}

.clients__numbers {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.clients__numbers-item {
  margin-top: 2rem;
}

.clients__numbers-item h4 {
  margin: 0.8rem 0;
  font-size: 30px;
  background-color: white;
}

.clients__numbers-item p {
  margin: 0;
  font-size: 15px;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .clients__feedback-item p {
    padding: 0 6rem;
  }

  .clients__numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .clients__feedback-item p {
    padding: 0 10rem;
  }

  .clients__numbers {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}