.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
}

.contact__container h2 {
  margin-top: 150px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 0;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;

  background-color: #f7f7f7;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.contact__item:hover span {
  background-color: black;
  color: white;
}

.contact__item h6 {
  font-size: 16px;
  margin: 15px 0;
}

.contact__item p {
  font-size: 15px;
  margin: 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.contact__form textarea {
  height: 150px;
  color: #5f5f5f;
}

.contact__form input, textarea {
  margin-bottom: 15px;
  padding: 10px;

  font-size: 14px;
  background-color: #f4f4f4;

  border: none;
  outline: none;
  border-radius: 5px;
}

.contact__button {
  width: 120px;
  padding: 10px;
  margin: 10px 0;

  font-size: 14px;
  color: white;
  background-color: black;

  border-radius: 5px;
  border: 1px solid #535353;
  outline: none;
  cursor: pointer;
}

.contact__button:hover {
  color: black;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .contact__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 5vw;
  }

  .contact__item {
    width: 25%;
  }

  .contact__form {
    padding: 0 5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .contact__list, .contact__form {
    width: 945px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact__input input {
    width: 45%;
  }
}