.home__container {
  position: relative;
  width: 100%;
  background-image: url(../image/background-view.png);
  background-position: 0px 0px;
  background-size: cover;
}

.hom__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient( to bottom, rgba(13, 13, 13, 0.4), rgba(13, 13, 13, 0.4));
}

.home__caption {
  text-align: center;
  color: white;
}

.home__caption h5 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
}

.home__caption h6 {
  margin: 2vh 0;
  font-size: 40px;
  font-weight: 200;
}

.home__name {
  font-size: 2rem;
  font-weight: 400;
}

.home__name b {
  font-size: 40px;
  font-weight: 400;
}

.home__social {
  display: flex;
  justify-content: center;
  width: 90vw;
}

.home__social span {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 20px;
  width: 20px;
  margin: 5px;
  padding: 10px;

  color: white;
  background-color: rgba(13, 13, 13, 0.8);
  border-radius: 50%;
  cursor: pointer;
}

.home__social span:hover {
  color: cyan;
}

@media only screen and (max-width: 500px) {
  .home__caption h5 {
    font-size: 50px;
  }
  
  .home__caption h6 {
    font-size: 28px;
  }

  .home__name b {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .home__caption h6 {
    font-size: 4rem;
  }

  .home__name b {
    font-size: 4rem;
  }
}