.nav__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.nav__logo {
  position: relative;
  width: 100%;
  color: white;
  margin: 0;
  padding: 1rem;
}

.nav__logo h1 {
  width: 30%;
  letter-spacing: 5px;
  font-size: 27px;
  margin: 0;
  margin-left: 2rem;
  color: black;
  cursor: pointer;
}

.nav__bar {
  height: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.toggle {
  height: 35vh;
  transition: all 0.5s ease-in-out;
}

.nav__bar li{
  margin: 1.5rem;
}

.nav__bar a {
  text-decoration: none;
  color: black;
}

.nav__bar li {
  list-style-type: none;
  cursor: pointer;
  font-size: 13px;
}

.nav__bar span:hover {
  border-bottom: 2px solid black;
  padding-bottom: 0.1rem;
  transition: all 0.3s ease-out;
}

.nav__bar .active {
  border-bottom: 2px solid black;
  padding-bottom: 0.1rem;
}

.hamburger .line {
  background-color: black;
}

.hamburger {
  position: absolute;
  right: 10%;
  top: 30%;
  cursor: pointer;
}

.line {
  width: 24px;
  height: 2px;
  background-color: white;
  margin: 5px;
}

.nav__waypoint {
  position: fixed ;
  bottom: 5%;
  width: 100%;
  height: 1vh;
  opacity: 0;
}

@media only screen and (max-width: 500px) {
  .nav__logo h1 {
    margin-left: 1rem;
    font-size: 24px;
  }

  .toggle {
    height: 300px;
  }

  .nav__bar li {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .hamburger {
    display: none;
  }

  .nav__logo {
    width: 35%;
    margin-left: 3rem;
  }

  .nav__bar {
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: black;
  }

  .nav__bar li{
    margin: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .nav__logo {
    width: 70%;
    margin-left: 5rem;
  }
}
