.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5rem 0;
  background-color: #f7f7f7;
}

.services__container h3 {
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.services__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.services__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #f7f7f7;
  transition: 0.5s ease-in-out;
}

.services__item h6 {
  font-size: 20px;
  margin: 0.3rem 0;
}

.services__item p {
  font-size: 14px;
  margin-bottom: 0.5rem;
  padding-bottom: 1.5rem;
  padding: 0 1rem;
}

.services__item:hover span {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
  }

  .services__item {
    width: 30%;
    margin: 1rem 0.5rem;
  }

  .services__item p {
    padding-bottom: 2rem;
    word-spacing: 2px;
  }

  .services__item span {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .services__list {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}