.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 10px;
  background-color: #f7f7f7;
}

.services__container h2 {
  margin-top: 150px;
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2vh 0;
  padding: 7vh 0;

  border-radius: 5px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.services__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  border-radius: 50%;
  background-color: #f4f4f4;
  transition: 0.5s ease-in-out;
}

.services__item h6 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.services__item p {
  font-size: 14px;
  padding: 0 30px;
}

.services__item:hover span {
  background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .services__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .services__item {
    width: 47%;
    margin: 1vh 0;
    padding: 5vh 0;
  }
}

@media only screen and (min-width: 1024px) {
  .services__item {
    width: 31%;
    margin: 1vh 0;
    padding: 3vh 0;
  }
}

@media only screen and (min-width: 1200px) {
  .services__list {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
}