.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.portfolio__container h2 {
  margin-top: 150px;
  margin-bottom: 50px;
}

.portfolio__navbar {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0;
  margin: 25px 0;
}

.portfolio__navbar li {
  font-size: 17px;
  font-weight: 800;

  margin: 0 10px;

  list-style-type: none;
  cursor: pointer;
}

.portfolio__navbar a {
  text-decoration: none;
  color: black;
}

.portfolio__navbar a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
  transition: all 0.3s ease-out;
}

.portfolio__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.portfolio__image-item{
  position: relative;
  margin: 10px;
  width: 100%s;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.portfolio__image img {
  height: 90vw;
  width: 90vw;
}

.portfolio__image-overlay {
  position: absolute;
  margin: 10px;
  width: 98%;
  height: 98%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(230, 230, 230);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.overlay h6 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}

.overlay-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-icon span {
  margin: 10px 5px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.portfolio__image-item:hover .portfolio__image-overlay {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.overlay-icon span:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .portfolio__image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio__image-item{
    width: 45%;
  }

  .portfolio__image img {
    width: 100%;
    height: 32vh;
  }
}

@media only screen and (min-width: 1024px) {
  .portfolio__image-item{
    width: 29%;
  }

  .portfolio__image img {
    height: 20vh;
  }
}

@media only screen and (min-width: 1200px) {
  .portfolio__image {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__image img {
    height: 32vh;
  }
}