* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, button, a, h1, h4, h5, h6, p, span {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #5f5f5f;
}

h3 {
  font-size: 35px;
  font-weight: 800;
}