body, button, a, h1, h4, h5, h6, p, span {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #5f5f5f;
}

h3 {
  font-size: 35px;
  font-weight: 800;
}

.nav__container {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sticky {
  background-color: white;
  transition: 0.5s ease-in-out;
}

.sticky h1{
  color: black;
}

.sticky .nav__bar a{
  color: black;
}

.sticky .line{
  background-color: black;
}

.hidden {
  display: none;
}

.nav__container .nav__logo h1 {
  letter-spacing: 5px;
  font-size: 30px;
  margin: 0;
  margin-left: 2rem;
}

/* response navbar */

.hamburger {
  position: absolute;
  right: 8%;
  top: 30%;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
}

.nav__container {
  display: flex;
  flex-direction: column;
}

.nav__logo {
  position: relative;
  width: 100%;
  color: white;
  margin: 0;
  padding: 1rem;
  z-index: 999;
}

.nav__bar {
  height: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.toggle {
  height: 32vh;
  transition: all 0.5s ease-in-out;
}

.nav__bar li{
  margin: 1.5rem;
}

.nav__bar a {
  text-decoration: none;
  color: black;
}

/* response navbar */

.nav__bar li {
  list-style-type: none;
  cursor: pointer;
  font-size: 14px;
}

.nav__bar a:hover {
  color: red;
}

.home {
  background-image: url(../src/image/background-view.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 100vh;
}

.home__container {
  background-image: linear-gradient( to bottom, rgba(13, 13, 13, 0.4), rgba(13, 13, 13, 0.4));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__caption {
  text-align: center;
  color: white;
}

.home__caption h5 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.home__caption h6 {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
}

.home__name b {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

.home__name {
  font-size: 35px;
  font-weight: 400;
  margin: 30px;
}

.home__social {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.home__social span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.5rem;
  height: 20px;
  width: 20px;
  background-color: rgba(13, 13, 13, 0.8);
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.home__social span:hover {
  color: red;
}

.about__container {
  display: flex;
  flex-direction: column;
  margin: 5rem 1rem;
  height: 100vh;
}

.about__avata {
  display: flex;
  justify-content: center;
}

.about img {
  width: 50%;
  height: 100%;
  margin-top: 2rem;
}

.about__info {
  margin-top: 3rem;
}

.about__info h3 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.about__info span {
  font-size: 16px;
  color: rgb(116, 116, 116);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about__skill-item, .about__skill-process {
  width: 100%;
  height: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(13, 13, 13, 0.22) inset;
}

.about__skill-item h6 {
  margin: 0.2rem;
  padding-left: 2rem;
  z-index: 1;
  position: relative;
  color: white;
  font-size: 15px;
  padding-top: 0.3rem;
}

.about__skill-item span {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
}

.about__contact-btn {
  width: 25%;
  padding: 0.8rem;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #535353;
}

.about__contact-btn:hover {
  background-color: black;
  color: white;
}

.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 1rem;
  margin-top: 5rem;
}

.services__container h3 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.services__list {
  display: flex;
  flex-direction: column;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.services__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  transition: 0.5s ease-in-out;
}

.services__item h6 {
  font-size: 20px;
  margin: 0.3rem 0;
}

.services__item p {
  font-size: 14px;
  margin-bottom: 0.5rem;
  padding-bottom: 1.5rem;
}

.services__item:hover span {
  background-color: black;
  color: white;
}

.portfolio__container {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__container h3 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.portfolio__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
}

.portfolio__navbar li {
  list-style-type: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  margin: 1rem 0.5rem;
}

.portfolio__navbar a {
  text-decoration: none;
  color: black;
}

.portfolio__navbar a:hover {
  color: red;
}

.portfolio__image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 60%;
}

.item-img {
  height: 20rem;
  width: 20rem;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  align-self: center;
  justify-self: center;
}

.portfolio__image img {
  height: 100%;
  width: 100%;
}

.clients__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  text-align: center;
}

.clients__container h3 {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.clients__feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients__feedback-item h6 {
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 600;
}

.clients__feedback-item span {
  font-size: 13px;
  font-weight: bold;
  color: #888;
}

.clients__avata img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.clients__numbers {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.clients__numbers-item {
  margin-top: 2rem;
}

.clients__numbers-item h3 {
  margin: 0.8rem 0;
  font-size: 30px;
}

.clients__numbers-item p {
  margin: 0.5rem 0;
  font-size: 15px;
  font-weight: 800;
}

.blogs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.blogs__container h3 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.carousel-row {
  display: flex;
}

.blogs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 0.5rem;
  box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.3);
}

.blogs__item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.blogs__item-content {
  flex: 1;
  margin: 1rem 0.5rem 1.5rem 1rem;
}

.blogs__item-image img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.blogs__item-image img:hover {
  transform: scale(1.1);
}

.blogs__item-content h6 {
  font-size: 14px;
  font-weight: 800;
  margin: 0;
  color: #888;
}

.blogs__item-content a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.blogs__item-content h4 {
  font-size: 18px;
  font-weight: 800;
  margin: 0.5rem 0;
}

.blogs__item-content span {
  border-bottom: 2px solid #535353;
  font-size: 14px;
  margin-bottom: 1rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 1rem;
  text-align: center;
  height: 80vh;
}

.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.contact__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.contact__item span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.contact__item:hover span {
  background-color: black;
  color: white;
}

.contact__item h6 {
  font-size: 16px;
  margin: 1rem 0;
}

.contact__item p {
  font-size: 15px;
  margin: 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: black;
}

.footer__container p {
  font-size: 12px;
  word-spacing: 2px;
  color: white;
  margin: 2rem 0;
}


@media screen and (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav__container {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
  }

  .nav__logo {
    flex: 1;
    text-align: center;
    color: white;
    padding: 1rem 0;
  }

  .nav__bar {
    display: flex;
    justify-content: center;
    flex: 3;
    height: 5rem;
    background: black;
    transition: all 0.5s ease-in-out;
  }

  .nav__bar a {
    color: white;
    font-size: 16px;
  }

  /* .nav__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .nav__logo {
    flex: 1;
    text-align: center;
    color: white;
    padding: 1rem 0;
  }
  
  .nav__bar {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 3;
    margin-right: 1rem;
    background: transparent;
  }

  .nav__bar a {
    color: white;
    font-size: 16px;
  }

  .hamburger {
    display: none;
  }

  .nav__bar.toggle {
    height: 25vh;
  } */
}